{% extends "index.html" %}
{% block title %}Gestión de acto litúrgico{% endblock %}
{% block cuerpo %}

<h2 class="titulo-gestion"> Gestión de requisitos por acto litúrgico</h2>
<div class="row">
    <div class="col-1">
        <button class="btn btn-primary btn-sm" onclick="abrir_modal('agregar')">Agregar</button>
    </div>
</div>
<div class="row">
    <div class="tabla">
        <table class="table mt-5" id="tablas">
            <thead>
                <tr>
                    <th class="text-center">
                        Id acto litúrgico
                    </th>
                    <th>
                        Nombre litúrgico
                    </th>
                    <th>
                        Nombre requisitos
                    </th>
                    <th>
                        tipo
                    </th>
                    <th>
                        estado
                    </th>
                    <th>
                        Nivel
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody id="cuerpo_actos">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalactos" tabindex="-1" aria-labelledby="modalactosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalactosLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="actos" onsubmit="enviar_datos(event)">
                    <div>
                        <label for="tipo" class="form-label">Acto litúrgico</label>
                        <div>
                            <select name="nombreLiturgico" id="nombreLiturgico1" class="form-select" required>
                                <option value="">----Seleccione un acto ------</option>
                                {% for acto in actos %}
                                    <option value="{{ acto[0] }}" class=""> {{ acto[1] }} </option>
                                {% endfor  %}
                            </select>
                        </div>
  
                    </div>

                    <div class="mb-3 mt-3">
                        <input type="text" name="id_r" id="id_r" hidden  >
                        <label for="nombrerequisito" class="form-label">Nombre requisito</label>
                        <input type="text" name="nombrerequisito" class="form-control" id="nombrerequisito" placeholder="Ingrese el nombre del requisito" required>
                    </div>
                    <div>
                        <label for="tipo" class="form-label">Nivel del requisito</label>
                        <select name="nivel" id="nivel" class="form-select" required>
                            <option value="">----Seleccione el nivel del requisito ------</option>
                            <option value="O">Obligatorio</option>
                            <option value="R">Requerido</option>
                        </select>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="tipo" class="form-label">Tipo de requisito</label>
                        <div class="">
                            <div class="d-flex">
                                <div class="col-10">
                                    <select name="opciones" id="opciones" class="form-select" required onchange="configuracion()">
                                        <option value="">----Seleccione tipo de requisito ------</option>
                                        <option value="Imagen">Imagen</option>
                                        <option value="Sede">Sede</option>
                                        <option value="Dni">Dni</option>
                                        <option value="Texto">Texto</option>
                                        <option value="Charla">Charla</option>
                                        <option value="FechaHora">Fecha y hora</option>
                                        <option value="Fecha">Fecha</option>
                                        <option value="Hora">Hora</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex mt-2 d-none" id="cuadro_opciones">
                                <div class="col-5">
                                    <label for="">Longitud mínima</label>
                                    <input type="number" id="minimo" name="minim" min="5" max="8" class="form-control">
                                </div>
                                <div class="col-5">
                                    <label for="">Longitud máximo</label>
                                    <input type="number" id="maximo" name="maxim"  min="8" max="30" class="form-control">
                                </div>
                
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="estado" name="estado">
                            <label class="form-check-label" for="estado">(Activo)</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="btnguardar">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div>
    
</div>
<!-- Font Awesome para los iconos -->
<script src="/static/js/requisitos.js"></script>
{% endblock %}