{% extends "index.html" %}
{% block title %}Gestión de Temas{% endblock %}
{% block cuerpo %}

<div class="container mt-4">
    <h1 class="titulo-gestion">Gestión de Temas</h1>

    <div>
        <!-- DataTable para la gestión de temas -->
        <table id="temasTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Acto Litúrgico</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Duración</th>
                    <th class="text-center">Orden</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody id="temasTableBody">
                <!-- Las filas de temas se generarán dinámicamente aquí -->
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="temaModal" tabindex="-1" aria-labelledby="temaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="temaForm">
                <input type="hidden" id="temaId" name="id">
                <div class="modal-header">
                    <h5 class="modal-title" id="temaModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id_actoliturgico" class="form-label">Acto Litúrgico</label>
                        <select class="form-select" id="id_actoliturgico" name="id_actoliturgico" required>
                            {% for acto in actos %}
                            <option value="{{ acto[0] }}">{{ acto[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción del Tema</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                    </div>

                    <div class="mb-3">
                        <label for="duracion" class="form-label">Duración (HH:MM)</label>
                        <input type="time" class="form-control" id="duracion" name="duracion" step="60" required
                            min="01:00" max="03:00" onchange="validarHora('duracion')">
                    </div>
                    <div class="mb-3">
                        <label for="orden" class="form-label">Orden</label>
                        <input type="number" class="form-control" id="orden" name="orden" min="1" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="saveChanges"
                        onclick="insertarTema()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/tema.js"></script>


{% endblock %}