{% extends "index.html" %}
{% block title %}Gestión solicitudes{% endblock %}
{% block cuerpo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.2/jspdf.umd.min.js"></script>

<style>
    .formulario_imagenes {
        width: 100%;
        height: auto;
        max-height: 90vh;
        display: block;
        margin: 0 auto;
        
    }

    #myModal {
        background: rgba(0, 0, 0, 0.5);
    }
    body {
            background-color: #f8f9fa;
        }
        .payment-form {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
        .form-header {
            text-align: center;
            margin-bottom: 20px;
        }
    .qr-code  img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    #imagen_qr{
        width: 250px;
        height: auto;
    }

</style>
<main class="ms-5">
    <!---------<button class="btn btn-primary"><i class="bi bi-plus-circle-fill me-2"></i>Nueva Solicitud</button>
    <hr>-------------->
    <div class="row" id="div_sol">
        <!-- Contenedor para pestañas -->
        <div class="tab-content mt-1">
            <div class="col-12 mt-3" >
                <h1 class="titulo-gestion">GESTIÓN DE SOLICITUDES DE ACTO LITÚRGICO</h1>
                <h6><strong>Acto litúrgico:</strong></h6>
                <div class="d-flex">
                    <select name="acto_seleccionado" id="acto_seleccionado" class="form-select w-25">
                        <option value="" >
                            ----Seleccione un acto litúrgico----
                        </option>
                        {% for actos in lista_actos %}
                            <option value="{{ actos[0]}}">
                                {{actos[1]}}
                            </option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-success " onclick="verificar()">
                        <i class="bi bi-plus-circle-fill me-2"></i>Nuevo
                    </button>
                </div>
                <!---------   Esta es la tabla donde se muestran los requisitos    ----------->
                <div id="requi_actos" class="d-none">
                    <form  id="formulario_solicitud" enctype="multipart/form-data">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>
                                        Requisito 
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="datos_solicitud" >
                                
                            </tbody>   
                        </table>
                        <div>
                            <button type="submit" id="registrar"  onclick="enviar_datos(event)" class="btn btn-primary" >Registrar</button>
                        </div>
                    </form>

                </div>

                <!---------   Esta es la tabla donde se muestran el horarios escogido por el feligres   ----------->
                <div class="mt-2 d-none" id="contenido_calendario_celebracion">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger " onclick="exportarTablaPDF()"><i class="bi bi-file-pdf-fill"></i></button>
                        <button type="button" class="btn btn-primary " onclick="retornar()"><i class="bi bi-arrow-left-circle-fill"></i></button>
                    </div>
                    <div id="miTabla"> 
                        <h6>Programación de charlas de acto litúrgico matrimonio</h6>
                        <table class="table mt-2"  >
                            <thead>
                                <tr>
                                    <th class="ocultar">id</th>
                                    <th>tema</th>
                                    <th>fecha</th>
                                    <th>hora inicio</th>
                                    <th>hora fin</th>
                                </tr>
                            </thead>
                            <tbody id="calendario_cuerpo">
                                
                            </tbody>
                            
                        </table>
                    </div>

                </div>

                <hr>
                <!---------
                <div>
                    <input type="checkbox">Faltantes
                    <input type="checkbox">Todos
                    <table class="mt-2 table" id="solicitudesactos">
                    <thead>
                        <tr>
                            <th class="thea">Id Solicitud</th>
                            <th class="thea">Acto liturgico</th>
                            <th class="thea">Feligres</th>
                            <th class="thea">Fecha</th>
                            <th class="thea">Hora</th>
                            <th class="thea">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tablasoli">
                            <td>1</td>
                            <td>Matrimonio</td>
                            <td>Rivera Elio</td>
                            <td>01/10/2024</td>
                            <td >12:45</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm text-start">
                                    <i class="bi bi-check2 me-1"></i>Seleccionar
                                </button>
                            </td>
                            <input type="text" maxlength="" >
                        </tr>
                        <tr class="tablasoli">
                            <td>2</td>
                            <td>1ra comunion</td>
                            <td>Julon Erick</td>
                            <td>01/10/2024</td>
                            <td>12:46</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm text-start">
                                    <i class="bi bi-check2 me-1"></i>Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr class="tablasoli">
                            <td>3</td>
                            <td>1ra comunion</td>
                            <td>Rodriguez roberta</td>
                            <td>01/10/2024</td>
                            <td>12:47</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm text-start">
                                    <i class="bi bi-check2 me-1"></i>Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr class="tablasoli">
                            <td>4</td>
                            <td>Matrimonio</td>
                            <td>Sanches Maria</td>
                            <td>01/10/2024</td>
                            <td>12:48</td>
                            <td class="">
                                <button type="button" class="btn btn-primary btn-sm text-start">
                                    <i class="bi bi-check2 me-1"></i>Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr class="tablasoli">
                            <td>5</td>
                            <td>Matrimonio</td>
                            <td>Flores Ana</td>
                            <td>01/10/2024</td>
                            <td>12:49</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm text-start">
                                    <i class="bi bi-check2 me-1"></i>Seleccionar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    
                </table> 
                </div>
----->
            </div>
        </div>
    </div>


<div class="container d-none" id="pago">
    <div class="payment-form">
        <div class="form-header">
            <h2>Método de pago</h2> 
            <h2><strong id="metodo">efectivo</strong></h2>
        </div>
        <div class="qr-code d-inline-flex">
            <div class="col-3 me-2 btn" onclick="mostrar_img('yape')">
                <img src="/static/img/yape.png" class="card-img-top" alt="...">
            </div>
            <div class="col-3 me-2 btn" onclick="mostrar_img('plin')">
                <img src="/static/img/plin.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-3 me-2 btn" onclick="mostrar_img('tarjeta')">
                <img src="/static/img/tarjeta.webp" class="card-img-top" alt="...">
            </div>
            <div class="col-3 me-5 btn" onclick="mostrar_img('efecto')">
                <img src="/static/img/efectivo.jpg" class="card-img-top" alt="...">
            </div>
        </div>

        <div class="d-flex  mt-4">
            <img class="mx-auto" id="imagen_qr"  alt="" >
        </div>
        <form id="paguitos" enctype="multipart/form-data">
            <div>
                <label for="responsable">Seleccione el feligres responsable</label>
                <select name="responsable" id="responsable" class="form-select" onchange="precio()" required>
                </select>
            </div>
            
            <div class="form-group mt-2">
                <label for="amount">Monto a Pagar</label>
                <input type="text" class="form-control" id="amount" placeholder="Ingrese el monto">
            </div>

            <button id="pagos" type="button" class="btn btn-primary btn-block mt-2 w-100" onclick="grabar_solicitud()" disabled >Confirmar Pago</button>
        </form>
    </div>
</div>


<!----- Tabla solicitudes ------>
<div class="ms-4">
    <table class="table">
        <thead>
            <tr>
                <th>Id solicitud</th>
                <th>Sede</th>
                <th>Acto liturgico</th>
                <th>Feligres responsable</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody id="solicitud"> 

        </tbody>
    </table>
</div>
<!-- MODAL PARA MOSTRAR FOTO -->
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="formulario_imagenes" src="" alt="" id="imagen_modal">
            </div>
        </div>
    </div>
</div>

</main>


<script src="/static/js/solicitudes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}