{% extends "index.html" %}
{% block title %}Gestión solicitudes{% endblock %}
{% block cuerpo %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.2/jspdf.umd.min.js"></script>

<style>
    .formulario_imagenes {
        width: 100%;
        height: auto;
        max-height: 90vh;
        display: block;
        margin: 0 auto;

    }

    #myModal {
        background: rgba(0, 0, 0, 0.5);
    }

    body {
        background-color: #f8f9fa;
    }

    .payment-form {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .form-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .qr-code img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    #imagen_qr {
        width: 250px;
        height: auto;
    }
</style>

<main class="ms-5">
    <h1 class="titulo-gestion">GESTIÓN DE SOLICITUDES DE ACTO LITÚRGICO</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="solicitudes-tab" data-bs-toggle="tab" data-bs-target="#solicitudes"
                type="button" role="tab" aria-controls="solicitudes" aria-selected="true">
                <i class="bi bi-envelope-paper-fill"></i> Registro de solicitudes
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="requisitos-tab" data-bs-toggle="tab" data-bs-target="#requisitos" type="button"
                role="tab" aria-controls="requisitos" aria-selected="false">
                <i class="bi bi-list-check"></i> Solicitudes
            </button>
        </li>
<!--         <li class="nav-item" role="presentation">
            <button class="nav-link" id="pagos-tab" data-bs-toggle="tab" data-bs-target="#pagos" type="button"
                role="tab" aria-controls="pagos" aria-selected="false">
                Pagos
            </button>
        </li> -->
    </ul>
    <input type="number" id="ff" class="d-none">
    <div class="tab-content mt-4">
        <!-- Tab 1: Registro de solicitudes -->
        <div class="tab-pane fade show active" id="solicitudes" role="tabpanel" aria-labelledby="solicitudes-tab">
            <label for="" class="mb-2">Seleccione un acto:</label>
            <div class="d-flex" class="" id="gg">
                <select name="acto_seleccionado" id="acto_seleccionado" class="form-select  form-select-sm w-25 me-2">
                    <option value="">
                    </option>
                    {% for actos in lista_actos %}
                    <option value="{{ actos[0]}}">
                        {{actos[1]}}
                    </option>
                    {% endfor %}
                </select>
                <button id="nuevo" onclick="limpiar();verificar()" class="btn btn-sm btn-primary"> <i
                        class="bi bi-plus-circle-fill me-2"></i>Nuevo</button>
            </div>

            <div class="mt-3">
                <form class="row"  id="formulario_solicitud" enctype="multipart/form-data" method="post">
                    <div class="col-8">
                        <table class="table mt-1">
                            <thead>
                                <tr>
                                    <th class="text-center d-none">
                                        ID
                                    </th>
                                    <th class="text-center">
                                        Requisito
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        <label for="estado_general">Estado</label>
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="datos_solicitud">   
                            </tbody>
                        </table>
                    </div>
                    <!----- Sección de pagos ------>
                    <div class="col-4">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header"> <i class="bi bi-cash me-2"></i> Pago de solicitud <i class="bi bi-cash ms-2"></i></div> 
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label"> 
                                        <i class="bi bi-person-square me-2"></i> Nombre completo
                                    </label>
                                    <input type="text" class="form-control form-control-sm d-none " id="rp" name="rp"
                                     readonly  >
                                    <select name="responsable" class="form-select form-select-sm text-bl" onclick="responsable_pago()" id="responsable" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                
                                <!-- Formas de pago -->
                                <div class="mb-3">
                                    <label for="formaPago" class="form-label"><i class="bi bi-wallet2 me-2"></i> Forma de pago</label>
                                    
                                    <select class="form-select form-select-sm" id="formaPago" name="formaPago" >
                                        <option value=""  selected>Forma de pago</option>
                                        <option value="tarjeta">Tarjeta de crédito/débito</option>
                                        <option value="transferencia">Transferencia bancaria</option>
                                        <option value="paypal">Yape</option>
                                        <option value="paypal">Plin</option>
                                        <option value="efectivo">Efectivo</option>
                                    </select>
                                </div>
                                <!-- Monto Total -->
                                <div class="mb-3 row">
                                    <div class="col-12">
                                        <label for="monto" class="form-label"><i class="bi bi-cash me-2"></i>Total</label>
                                        <input type="number" class="form-control form-control-sm " id="monto" name="monto"
                                            placeholder="Ingrese el monto" min="0" readonly  >
                                    </div>
                                    <div class="col-6 d-none">
                                        <label for="saldo" class="form-label"><i class="bi bi-cash me-2"></i>Saldo restante</label>
                                        <input type="number" value="12"  class="form-control form-control-sm" id="saldo" name="saldo"   placeholder="Saldo" readonly >            
                                    </div>
                                </div>
                                <!-- Monto -->
                                <div class="mb-3">
                                    <label for="money" class="form-label"><i class="bi bi-cash me-2"></i>Monto ingresado</label>
                                    <input type="number"  onkeyup="validar_precio()" class="form-control form-control-sm" id="money" name="money"
                                        placeholder="Ingrese el monto" min="0" required>
                                </div>
                            </div>
                          </div>
                      
                    </div>

                    <button type="submit" id="registrar" class="btn btn-primary">Registrar
                    </button>

                </form>
            </div>

        </div>

        <!-- Tab 2: Requisitos -->
        <div class="tab-pane fade" id="requisitos" role="tabpanel" aria-labelledby="requisitos-tab">
            <!----- Tabla solicitudes ------>
            <div class="mt-3" id="aaa">
                <h6><strong>Tabla solicitudes:</strong></h6>
                <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
                    <div class="d-flex align-items-center">
                        <label for="buscar" class="me-2">Buscar:</label>
                        <input type="text" id="buscar" class="form-control" style="width: 200px;" placeholder="Buscar solicitudes..." autocomplete="off">
                    </div>                    
                    <div class="d-flex align-items-center ms-3">
                        <label for="filtroLiturgia" class="me-2">Acto Litúrgico:</label>
                        <select id="filtroLiturgia" class="form-select" style="width: auto;">
                            <option value="" >Todos
                            </option>
                            {% for actos in lista_actos %}
                            <option value="{{ actos[1]}}">
                                {{actos[1]}}
                            </option>
                            {% endfor %}                        </select>
                    </div>
                    <div class="d-flex align-items-center ms-3">
                        <label for="filtroEstado" class="me-2">Estado:</label>
                        <select id="filtroEstado" class="form-select" style="width: auto;">
                            <option value="">Todos</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Aprobado">Aprobado</option>
                        </select>
                    </div>                    
                </div>                
                <!-- Contenedor con scroll -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex" id="button-section"></div>
                </div>
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table" id="soli_tab">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Sede</th>
                                <th class="text-center">Acto litúrgico</th>
                                <th class="text-center">Feligres responsable</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="solicitud">
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!-- Tab 3: Pagos -->
        <div class="tab-pane fade" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
            <h3>Método de Pago</h3>
            <div class="d-flex justify-content-around">
                <div>
                    <img src="https://via.placeholder.com/80" alt="Yape" class="img-fluid">
                    <p class="text-center">Yape</p>
                </div>
                <div>
                    <img src="https://via.placeholder.com/80" alt="Plin" class="img-fluid">
                    <p class="text-center">Plin</p>
                </div>
                <div>
                    <img src="https://via.placeholder.com/80" alt="Tarjeta" class="img-fluid">
                    <p class="text-center">Tarjeta</p>
                </div>
            </div>
        </div>

        <!-- Tab 4: Asistencias -->
        <div class="tab-pane fade" id="asistencias" role="tabpanel" aria-labelledby="asistencias-tab">
            <h3>Asistencias</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tema</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Preparación Bautizo</td>
                            <td>2024-11-20</td>
                            <td>Juan Pérez</td>
                            <td>Presente</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>



<main class="ms-5">
    <!---------<button class="btn btn-primary"><i class="bi bi-plus-circle-fill me-2"></i>Nueva Solicitud</button>
    <hr>-------------->
    <div class="row" id="div_sol">
        <!-- Contenedor para pestañas -->
        <div class="tab-content mt-1">
            <div class="col-12 mt-3">

                <div class="mt-2 d-none" id="contenido_calendario_celebracion">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger " onclick="exportarTablaPDF()"><i
                                class="bi bi-file-pdf-fill"></i></button>
                        <button type="button" class="btn btn-primary " onclick="retornar()"><i
                                class="bi bi-arrow-left-circle-fill"></i></button>
                    </div>
                    <div id="tablapdf" class="mt-3">
                        <table id="miTabla" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Tema
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Hora inicio
                                    </th>
                                    <th>
                                        Hora fin
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="cu_tablapdf">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL PARA MOSTRAR FOTO -->
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="modal_contenido">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Asistencias-->
    <div class="modal" tabindex="-1" id="modal_asistencia">
        <div class="modal-dialog" style="max-width: none ; width: 90%">
            <div class="modal-content" style="height: 45vw;">
                <div class="modal-body overflow-y-scroll" id="modal_asistencia">
                    <div class="modal-header">
                        <h5 class="modal-title " id="exampleModalLabel">Asistencias de los feligreses a: <span id="uno">
                            </span>, <br> Número de solicitud: <span id="dos"> </span> </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm">
                            <thead id="cu_asistencias">
                                <tr class="table-primary">
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Tema</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Rol</th>
                                    <th class="text-center">Dni</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">
                                        <label>Estado</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="cu_cuerpo">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal previsualización Charlas-->
    <div class="modal" tabindex="-1" id="modal_prevcharlas">
        <div class="modal-dialog" style="max-width: none; width: 90%">
            <div class="modal-content" style="height: 45vw;">
                <div class="modal-body overflow-y-scroll" id="modal_asistencia">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Charlas que se llevarán a cabo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm">
                            <thead id="cu_asistencias">
                                <tr class="table-primary">
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Hora inicio</th>
                                    <th class="text-center">Hora fin</th>
                                </tr>
                            </thead>
                            <tbody id="cu_previ"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flashMessage" class="alert {{ 'bg-primary text-white' if messages[0][0] == 'success' else 'bg-danger text-white' }}" role="alert">
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}

</main>
<!------<script src="/static/js/solicitudes.js"></script> !------>
<script src="/static/js/solicitudes2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}