body {
    font-family: "Roboto", sans-serif;
    padding-top: 60px;
    overflow: auto;
    color: #000000;
}
::-webkit-scrollbar-track {
    background: #020202; /* Color de fondo */
}
::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #f1f1f1; /* Espacio alrededor del thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9; /* Cambiar color al hacer hover */
  }
.header {
    background-color: #ECEADE;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    height: 60px;
    color: #033D8EBF;

}





.header .logo {
    display: flex;
    align-items: center;
}

.header .logo h5 {
    color: #033D8EBF;
    font-weight: bold ;
}

.header .logo img {
    height: 55px;
    margin-right: 20px;
    border-radius: 50%;

}



.header .menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #033D8EBF;
    }

.breadcrumb {
    margin: 70px 20px 10px 20px;
}

.user-info {
    
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}





.btn-logout {
    color: #033D8EBF;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;

}


.btn-logout i {
    color: #033D8EBF;
    font-size: 1.5rem;


}


.btn-logout:hover {
    color: #e09844;
}

.sidenav {
    height: calc(100% - 60px);
    width: 250px;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #ffffff;
    overflow-y: scroll; /* Fuerza la aparición del scrollbar vertical */
    transition: transform 0.5s ease;
    padding-top: 20px;
    transform: translateX(-100%);
    z-index: 1051;
    color: #033D8EBF; /* Texto gris claro */
}

.sidenav a {
    color: #033D8EBF; /* Fondo azul para la opción activa */
    font-weight: bold; /* Negrita para la opción activa */
}

/* Ajustes para los botones dentro de las colapsables */
.sidenav  .btn {
    background-color: transparent;
    border: none;
    color: #033D8EBF; /* Texto gris claro */
}

.sidenav.open {
    transform: translateX(0); /* Muestra la barra lateral */
}

/* Personalización del scrollbar (opcional, para WebKit) */
.sidenav::-webkit-scrollbar {
    width: 15px;
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: #363636; /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados */
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(2, 2, 2);
    display: block;
    transition: 0.5s;
    font-size: 15px;
}


.sidenav a:hover {
    color: #f1f1f1;
    background-color: #dba24cd7;
}

#mySidenav i{
    margin-left: 15px;
}
a.btn{
    background-color: rgb(255, 255, 255);
    padding: 10px 0 !important;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    text-align: start;
    margin-left:15px;
    margin-right: 12px ;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 35px;
    margin-left: 50px;
    color: white;
}

.sidenav .closebtn:hover {
    color: white;
    background-color: transparent;
}


.main-content {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    /* Agregado margen inferior */
    
}

/* Add padding to avoid content overlay */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav a i {
    margin-right: 10px;
}

.menu-btn i {
    margin-right: 25px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    padding: 0 20px;
    overflow-x: auto;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #343a40;
    color: white;
}

.btn-logout i {
    margin-right: 10px;
}

.breadcrumb {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.barra_separadora {
    background-color: rgb(224, 216, 157);

    width: 100%;
    height: 30px;
}
.main-content {
    margin-left: 0;
    transition: margin-left 0.5s; /* Transición suave */
}

.main-content.shifted {
    margin-left: 250px; /* Debe coincidir con el ancho del sidenav */
}



.titulo-gestion {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #02BA26 !important ; /* Color verde más claro */
    border-color: #02BA26 !important; /* Cambia también el borde */
}

