.btn-defecto {
    background-color: #d0b571 !important; 
    color: white !important; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
}
#R1 {
    display: none; /* Oculto inicialmente */
}

.btnfloatante{
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 40px;
    background-color: rgb(184, 186, 189);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 18px;
}
a.btn.btn-close{
    position: absolute;
    top: 20px;
    right: 0;
}
.header{
    background: rgb(236,234,222);
    width: auto;
    height: 70px;
    z-index: 100;
    border-bottom: 3px solid #CB6040 ;
    top: 0;
}
#mySidenav{
    position: absolute;
    height: calc(100vh - 80px); 
}

#mySidenav a:last-child {
    margin-bottom: 20px; 
}


.btnfloatante:hover{
    background-color: rgb(144, 146, 148);
    color: white;
}

.btn.btn-close:hover{
    background-color: transparent;
}



#uno{
    margin: 0 !important;
    font-size: 25px;
    color: #02070c;
}
.letters{
    color: #02070c;
}
.chkestadoreque {
    border: 2px solid red; /* Contorno rojo */
    border-radius: 5px; /* Para un efecto redondeado opcional */
}

.chkestadoreque:checked {
    border-color: transparent;/* Mantiene el contorno rojo cuando está marcado */
}

.tab-content{
    padding-left: 35px;
    padding-right: 50px;
}
.thea{
    background-color: #443c27;
}
.tablasoli td{
    height: 10px;
} 


body{
    font-family: sans-serif ;
    font-size: 14px;
}

table{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados (opcional) */
    overflow: hidden; /* Evita que los bordes redondeados se vean mal */
}
#moduloSeguridad button,
#moduloActoLiturgico button,
#moduloSecretaria button,
#moduloCatequesis button,
#moduloCaja button,
#moduloDonaciones button,
#moduloPersonalParroquial button,
#moduloTomaDecisiones button {
    border: none;
    background: transparent;
    margin-left: 15px;
    margin-right: 15px;
    height: 35px;
    width: 90%;
    border-radius: 5px;
    color: black;
}
.indices{
    border: none ;
}

#hola{
    background-color: #8f1010;
}
input[type="search"] {
    border: 2px solid #d0b571;
    border-radius: 5px; 
    padding: 5px 10px;
    width: 200px;
    font-size: 14px;   
    background-color: #8f1010; 
}

/* Añadir margen inferior al contenedor del campo de búsqueda */
.dataTables_filter {
    margin-bottom: 8px; /* Ajusta el valor según el espacio que desees */
}

.indices:hover{
    background-color: #d0b571 ;
    color: #fff ;
}