{% extends "index.html" %}
{% block title %}Gestión de Celebraciones{% endblock %}
{% block cuerpo %}
<style>
#table_mini_filter {
    display: none !important;
}

</style>
<div>
    <div class="row">
        <div class="col-4 d-inline-flex">
            <select name="sacramentos" id="sacramentos" class="form-select w-100 ">
                <option value="">Selecciona un sacramento</option>
                <option value="matrimonio">Matrimonio</option>
                <option value="bautizo">Bautizo</option>
                <option value="primera_comunion">Primera Comunión</option>
                <option value="confirmacion">Confirmación</option>
            </select>
            <button class="btn btn-primary" onclick="mostrar_frm()">Seleccionar</button>
        </div>
        <div class="col-8 text-end d-inline">
            <button class="btn btn-success">Registrar programación </button>
        </div>
    </div>
    <div class="mt-4" id="formulario_programa">

    </div>

<div>

    <div>
        <table>

        </table>
    </div>

<!-- Modal -->
<div class="modal fade " id="myModal11" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Ministros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="text" id="searchInput" placeholder="Buscar..." class="form-control mb-3">
                </div>
                <table class="mt-2 table" id="table_mini">
                    <thead>
                        <tr>
                            <th>
                                dni
                            </th>
                            <th>
                                nombre
                            </th>
                            <th>
                               Sede
                            </th>
                            <th>
                               
                            </th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo_ministros">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


</div>
<script src="{{ url_for('static', filename = '/js/charlas.js')}}"></script>
{% endblock %}
