{% extends "index.html" %}
{% block title %}Gestión de charlas{% endblock %}
{% block cuerpo %}
<style>
    table, table input[type="date"], table input[type="time"], table input[type="text"], table button {
        font-size: 13px;
    }

    th, td {
        text-align: center;
    }

    th:nth-child(1), td:nth-child(1) { width: 150px; }
    th:nth-child(2), td:nth-child(2) { width: 120px; }
    th:nth-child(3), td:nth-child(3) { width: 90px; }
    th:nth-child(4), td:nth-child(4) { width: 90px; }
    th:nth-child(5), td:nth-child(5) { width: 100px; }
    th:nth-child(6), td:nth-child(6) { width: 120px; }
    th:nth-child(7), td:nth-child(7) { width: 120px; }
    th:nth-child(8), td:nth-child(8) { width: 200px; }

    th:nth-child(1) {
        text-align: center;
    }

    td:nth-child(1) {
        text-align: left;
    }
</style>

<div>
    <h1 class="titulo-gestion">Gestión de programación de charlas</h1>
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button type="button" class="btn btn-success btn-lg custom-btn ml-3"
                onclick="window.location.href = '/gestionar_charlas'">
                <i class="bi bi-arrow-left"></i> Retornar
            </button>
            <!-- <button class="btn btn-success btn-lg custom-btn ml-3">
                <i class="bi bi-save"></i> Registrara Programación
            </button>             -->
            
        </div>

    </div>

    <div id="formulario_temas_sacramento">
    </div>

    <div>
        <table>
            
        </table>
    </div>

    <div class="modal fade" id="modalVer" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Editar Programación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modalVerForm">
                        <div class="mb-3">
                            <label class="form-label">Tema</label>
                            <input type="text" class="form-control" id="modalTema" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="modalFecha">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hora Inicio</label>
                            <input type="time" class="form-control" id="modalHoraInicio">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hora Fin</label>
                            <input type="time" class="form-control" id="modalHoraFin">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Estado</label>
                            <select class="form-control" id="modalEstado">
                                <option value="P">Pendiente</option>
                                <option value="R">Realizado</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ministro</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="modalMinistro" readonly>
                                <button type="button" class="btn btn-outline-secondary" id="btnSeleccionMinistro" onclick="abrirModalSeleccionMinistro()">Seleccionar</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Sede</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="modalSede" readonly>
                                <button type="button" class="btn btn-outline-secondary" id="btnSeleccionSede" onclick="abrirModalSeleccionSede()">Seleccionar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarCambios" onclick="guardarCambiosEdicion()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalSeleccionMinistro" tabindex="-1" aria-labelledby="modalSeleccionMinistroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Ministro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="buscarMinistro" class="form-control mb-3" placeholder="Buscar Ministro..." oninput="cargarListaMinistros()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Sede</th>
                            </tr>
                        </thead>
                        <tbody id="listaMinistros">
                            <!-- Los datos de ministros se cargarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <div id="paginacionMinistro" class="d-flex justify-content-center mt-3">
                        <button onclick="paginaAnterior('ministro')" class="btn btn-outline-primary btn-sm me-2">Anterior</button>
                        <span id="paginaActualMinistro">1</span>
                        <button onclick="paginaSiguiente('ministro')" class="btn btn-outline-primary btn-sm ms-2">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalSeleccionSede" tabindex="-1" aria-labelledby="modalSeleccionSedeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Sede</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="buscarSede" class="form-control mb-3" placeholder="Buscar Sede..." oninput="cargarListaSedes()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre de Sede</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody id="listaSedes">
                            <!-- Los datos de sedes se cargarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <div id="paginacionSede" class="d-flex justify-content-center mt-3">
                        <button onclick="paginaAnterior('sede')" class="btn btn-outline-primary btn-sm me-2">Anterior</button>
                        <span id="paginaActualSede">1</span>
                        <button onclick="paginaSiguiente('sede')" class="btn btn-outline-primary btn-sm ms-2">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    

    <script src="/static/js/programacion.js"></script>
    {% endblock %}