{% extends "index.html" %}
{% block title %}Gestión de Recaudaciones{% endblock %}
{% block cuerpo %}

<style>
    .dataTables_filter label input {
    width: 30px !important;
}
</style>

<div class="container mt-4">
    <h1 class="titulo-gestion">Gestión de Recaudaciones</h1>

    <div>
        <!-- DataTable para la gestión de recaudaciones -->
        <table id="recaudacionesTable" class="table table-hover table-striped">
            <thead>
                <tr class="text-center">
                    <th style="vertical-align: middle; text-align: center;">ID</th>
                    <th style="vertical-align: middle; text-align: center;">Sede</th>
                    <th style="vertical-align: middle; text-align: center;">Tipo</th>
                    <th style="vertical-align: middle; text-align: center;">Observaciones</th> <!-- Cambiado a Observaciones -->
                    <th style="vertical-align: middle; text-align: center;">Fecha</th>
                    <th style="vertical-align: middle; text-align: center;width: 100px">Monto</th>
                    <th style="vertical-align: middle; text-align: center; width: 100px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for recaudacion in recaudaciones %}
                <tr>
                    <td class="text-center">{{ recaudacion[0] }}</td> <!-- ID de la recaudación -->
                    <td>{{ recaudacion[5] }}</td> <!-- Nombre de la sede -->
                    <td>{{ recaudacion[6] }}</td> <!-- Tipo de recaudación -->
                    <td>{{ recaudacion[4] }}</td> <!-- Observación -->  
                    <td>{{ recaudacion[1].strftime('%d-%m-%Y') }}</td> <!-- Formateo de la fecha -->
                    <td style="vertical-align: middle; text-align: center; padding-left: 45px;">{{ recaudacion[3] }}</td> <!-- Monto -->
                    <td class="text-center">
                        <!-- Botón para ver detalles -->
                        <button class="btn btn-primary btn-sm" title="view"
                            onclick="abrirModalRecaudacion('view', '{{ recaudacion[0] }}', '{{ recaudacion[1] }}', '{{ recaudacion[2] }}', '{{ recaudacion[3] }}', '{{ recaudacion[4] }}', '{{ recaudacion[5] }}', '{{ recaudacion[6] }}')">
                            <i class="fas fa-eye"></i>
                        </button>

                        <!-- Botón para editar -->
                        <button class="btn btn-warning btn-sm" title="edit"
                        onclick="abrirModalRecaudacion('edit', '{{ recaudacion[0] }}', '{{ recaudacion[1] }}', '{{ recaudacion[2] }}', '{{ recaudacion[3] }}', '{{ recaudacion[4] }}', '{{ recaudacion[5] }}', '{{ recaudacion[6] }}')"
                        {% if recaudacion[6] == 'Celebración' %} disabled {% endif %}> <!-- Bloquea si el id_tipo_recaudacion es 34 -->
                        <i class="fas fa-edit"></i>
                       </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para Agregar/Ver/Editar Recaudación -->
<div class="modal fade" id="recaudacionModal" tabindex="-1" aria-labelledby="recaudacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="recaudacionForm" action="{{ url_for('procesar_insertar_recaudacion') }}" method="POST">
                <input type="hidden" id="recaudacionId" name="id">
                <!-- Campo oculto para el ID de la sede -->
                <input type="hidden" id="sede_id" name="sede_id" value="{{ request.cookies.get('sede') }}">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="recaudacionModalLabel">Detalles de Recaudación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <!-- Campo de solo lectura para mostrar el nombre de la sede -->
                    <div class="mb-3">
                        <label for="sede_nombre" class="form-label">Sede</label>
                        <input type="text" class="form-control" id="sede_nombre" name="sede_nombre" readonly disabled tabindex="-1">
                    </div>

                    <div class="mb-3">
                        <label for="id_tipo_recaudacion" class="form-label">Tipo de recaudación</label>
                        <select class="form-select" id="id_tipo_recaudacion" name="id_tipo_recaudacion" required>
                            {% for tipo in tipos %}
                                <option value="{{ tipo[1] }}">{{ tipo[1] }}</option> <!-- `tipo[1]` es el nombre -->
                            {% endfor %}
                        </select>                                                                       
                    </div>                              
                    <div class="mb-3">
                        <label for="monto" class="form-label">Monto</label>
                        <input type="text" class="form-control" id="monto" name="monto" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="observacion" class="form-label">Observación</label>
                        <input type="text" class="form-control" id="observacion" name="observacion" required>
                    </div>
                    <div class="mb-3" id="fechaContainer" style="display: none;">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" id="fecha" name="fecha" readonly>
                    </div>
                    
                    <div class="mb-3" id="horaContainer" style="display: none;">
                        <label for="hora" class="form-label">Hora</label>
                        <input type="text" class="form-control" id="hora" name="hora" readonly>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3" id="mensaje-container">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<script src="/static/js/recaudaciones.js"></script>
<script type="text/javascript">
    const urlInsertarRecaudacion = "{{ url_for('procesar_insertar_recaudacion') }}";
    const urlActualizarRecaudacion = "{{ url_for('procesar_actualizar_recaudacion') }}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>


{% endblock %}
