{% extends "index.html" %}
{% block title %}Gestión de Tipos de Recaudación{% endblock %}
{% block cuerpo %}

<div class="container mt-4">
    <h1 class="titulo-gestion">Gestión de Tipos de Recaudación</h1>

    <div>
        <!-- DataTable para la gestión de tipos de recaudación -->
        <table id="tiposRecaudacionTable" class="table table-hover table-striped">
            <thead>
                <th style="vertical-align: middle; text-align: center;">ID</th>
                <th style="vertical-align: middle; text-align: center;">Nombre de Recaudación</th>
                <th style="vertical-align: middle; text-align: center;">Tipo</th>
                <th style="vertical-align: middle; text-align: center; width: 200px;">Acciones</th>
            </thead>
            <tbody>
                {% for tipo in tipos_recaudacion %}
                <tr>
                    <td class="text-center">{{ tipo[0] }}</td> <!-- ID del tipo de recaudación -->
                    <td>{{ tipo[1] }}</td> <!-- Nombre del tipo de recaudación -->
                    <td>{{ 'Monetario' if tipo[2] == '1' else 'No Monetario' }}</td> <!-- Tipo: 1 para Monetario, 0 para No Monetario -->
                    <td class="text-center">
                        <!-- Botón para ver detalles -->
                        <button class="btn btn-primary btn-sm" title="Ver"
                            onclick="openModal('view', '{{ tipo[0] }}', '{{ tipo[1] }}', '{{ tipo[2] }}')">
                            <i class="fas fa-eye"></i>
                        </button>

                        <!-- Botón para editar -->
                        <button class="btn btn-warning btn-sm" title="Editar"
                            onclick="openModal('edit', '{{ tipo[0] }}', '{{ tipo[1] }}', '{{ tipo[2] }}')">
                            <i class="fas fa-edit"></i>
                        </button>

                        <!-- Botón para eliminar -->
                        <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                            onclick="eliminarTipoRecaudacion('{{ tipo[0] }}')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para Agregar/Ver/Editar Tipo de Recaudación -->
<div class="modal fade" id="tipoRecaudacionModal" tabindex="-1" aria-labelledby="tipoRecaudacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="tipoRecaudacionForm" action="" method="POST">
                <input type="hidden" id="tipoRecaudacionId" name="id">

                <div class="modal-header">
                    <h5 class="modal-title" id="tipoRecaudacionModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del Tipo de Recaudación</label>
                        <input type="text" class="form-control" id="nombre" name="nombre_recaudacion" required>
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="form-select" id="tipo" name="tipo" required>
                            <option value="1">Monetario</option>
                            <option value="0">No Monetario</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="saveChanges">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/tipo_recaudaciones.js"></script>

<script type="text/javascript">
    const urlInsertarTipoRecaudacion = "{{ url_for('procesar_insertar_tipo_recaudacion') }}";
    const urlActualizarTipoRecaudacion = "{{ url_for('procesar_actualizar_tipo_recaudacion') }}";
</script>

{% endblock %}
