{% extends "index.html" %}
{% block title %}Gestión de Feligreses{% endblock %}
{% block cuerpo %}
<style>
    #feligresesTable {
        table-layout: auto;
        width: 100%;
    }

    #feligresesTable th,
    #feligresesTable td {
        white-space: nowrap;
        /* Evita que el contenido se ajuste en varias líneas */
        text-align: center;
        padding: 8px;
    }
</style>

<div class="container mt-4">
    <h1 class="titulo-gestion">Gestión de Feligreses</h1>

    <div>
        <table id="feligresesTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="vertical-align: middle; text-align: center;">DNI</th>
                    <th style="vertical-align: middle; text-align: center;">Apellidos</th>
                    <th style="vertical-align: middle; text-align: center;">Nombres</th>
                    <th style="vertical-align: middle; text-align: center;">Fecha de Nacimiento</th>
                    <th style="vertical-align: middle; text-align: center;">Estado Civil</th>
                    <th style="vertical-align: middle; text-align: center;">Sexo</th>
                    <th style="vertical-align: middle; text-align: center;">Sede</th>
                    <th style="vertical-align: middle; text-align: center;">Correo electronico</th>
                    <th style="vertical-align: middle; text-align: center; width: 200px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for feligres in feligreses %}
                <tr>
                    <td class="text-center">{{ feligres[0] }}</td>
                    <td>{{ feligres[1] }}</td>
                    <td>{{ feligres[2] }}</td>
                    <td>{{ feligres[3] }}</td>
                    <td>{{ feligres[4] }}</td>
                    <td>{{ feligres[5] }}</td>
                    <td>{{ feligres[6] }}</td>
                    <td>{{ feligres[7] }}</td>

                    <td class="text-center">

                        <button class="btn btn-primary btn-sm" title="Ver"
                            onclick="openModal('view', '{{ feligres[0] }}', '{{ feligres[1] }}', '{{ feligres[2] }}', '{{ feligres[3] }}', '{{ feligres[4] }}', '{{ feligres[5] }}', '{{ feligres[6] }}', '{{ feligres[7] }}')">
                            <i class="fas fa-eye"></i>
                        </button>

                        <button class="btn btn-warning btn-sm" title="Editar"
                            onclick="openModal('edit', '{{ feligres[0] }}', '{{ feligres[1] }}', '{{ feligres[2] }}', '{{ feligres[3] }}', '{{ feligres[4] }}', '{{ feligres[5] }}', '{{ feligres[6] }}', '{{ feligres[7] }}')">
                            <i class="fas fa-edit"></i>
                        </button>

                        <!-- Botón para eliminar -->
                        <form action="{{ url_for('procesar_eliminar_feligres') }}" method="POST"
                            style="display:inline-block;">
                            <input type="hidden" name="dni" value="{{ feligres[0] }}">
                            <button type="submit" class="btn btn-danger btn-sm" title="Eliminar"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este feligrés?');">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para Agregar/Ver/Editar Feligres -->
<div class="modal fade" id="feligresModal" tabindex="-1" aria-labelledby="feligresModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="feligresForm" action="" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="feligresModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="dni" name="dni" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                    </div>
                    <div class="mb-3">
                        <label for="estado_civil" class="form-label">Estado Civil</label>
                        <select class="form-select" id="estado_civil" name="estado_civil" required>
                            <option value="s">Soltero</option>
                            <option value="c">Casado</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="sexo" class="form-label">Sexo</label>
                        <select class="form-select" id="sexo" name="sexo" required>
                            <option value="m">Masculino</option>
                            <option value="f">Femenino</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="id_sede" class="form-label">Sede</label>
                        <select class="form-select" id="id_sede" name="id_sede" required>
                            {% for sede in sedes %}
                            <option value="{{ sede[0] }}">{{ sede[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="correo" required>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="saveChanges">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/feligres.js"></script>

<script type="text/javascript">
    const urlInsertarFeligres = "{{ url_for('procesar_insertar_feligres') }}";
    const urlActualizarFeligres = "{{ url_for('procesar_actualizar_feligres') }}";
    const urlEliminarFeligres = "{{ url_for('procesar_eliminar_feligres') }}";
</script>

{% endblock %}