<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sistema de Gestión de Parroquias{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/iconoiglesia.png') }}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/css/inicio_sesion.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="static/css/defecto.css" />
    <link rel="stylesheet" href="../static/css/index.css">    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>    
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>


    <style>
        .btm-hover:focus {
            border: none;
        }
    </style>

<body class="bg-light">

    <header class="bg-white shadow-sm border-bottom">
        <div class="container-fluid d-flex align-items-center justify-content-between py-3 px-4">
            <!-- Logo y Nombre de la Sede -->
            <div class="d-flex align-items-center">
                <img src="/static/img/calidazzzz.jpg" alt="Logo Iglesia" class="me-3"
                    style="height: 60px; width: 60px;">
                <div>
                    <h5 class="mb-0 text-primary fw-bold" >{{ request.cookies.get('sede') }}</h5>
                    <input id="sede" type="text" value="{{ request.cookies.get('sede') }}" class="d-none">
                    <small class="text-muted">😼 🥃 🥃 de la Chavarry</small>
                </div>
            </div>

            <!-- Opciones de Usuario -->
            <div class="d-flex align-items-center">
                <!-- Información del Usuario -->
                {% if request.cookies.get('nombre') %}
                <div class="dropdown">
                    <button class="btn text-start   btm-hover" type="button" id="dropdownUserMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-start text-primary fw-bold">
                            <i class="bi bi-person-circle me-2"></i>
                            <span id="ministro" class="me-2">{{ request.cookies.get('nombre')
                                }}</span><i class="bi bi-caret-down-fill"></i>
                        </div>
                        <small class=" ms-4 text-muted">{{ request.cookies.get('tipo') }}</small>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserMenu">
                        <li><a class="dropdown-item text-danger text-e" href="#" onclick="finalizar_sesion()">Salir <i
                                    class="bi bi-box-arrow-right"></i></a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{{ url_for('raiz') }}" class="btn btn-primary">Iniciar Sesión</a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Layout Principal -->
    <div class=" layout  d-flex">

        <aside class="sidenav bg-light p-3">
            <nav class="nav flex-column accordion" id="menuAccordion">
                <div class="accordion-item">
                    <!-- secretaria -->
                    <a class="d-flex align-items-center justify-content-between text-primary text-decoration-none py-2 border-bottom"
                        data-bs-toggle="collapse" href="#moduloSecretaria" role="button" aria-expanded="false"
                        aria-controls="moduloSecretaria">
                        <span><i class="bi bi-card-list me-2"></i> Gestión de Secretaría</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="collapse ps-3 mt-2" id="moduloSecretaria">
                        <a href="{{ url_for('gestionar_ministro') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Ministro
                        </a>
                        <a href="{{ url_for('gestionar_tipo_ministro') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Tipo de ministro
                        </a>
                        <a href="{{ url_for('gestionar_feligres') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Feligres
                        </a>
                        <a href="{{ url_for('solicitudes') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Solicitudes
                        </a>
                        <a href="{{ url_for('gestionar_celebracion_crud') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Celebraciones
                        </a>
                        <a href="{{ url_for('gestionar_celebracionR') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Asistencia celebraciones
                        </a>
                        <a href="{{ url_for('gestionar_certificado') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Certificados
                        </a>
                    </div>
                </div>
                <!-- catequesis -->

                <div class="accordion-item">
                    <a class="d-flex align-items-center justify-content-between text-primary text-decoration-none py-2 border-bottom"
                        data-bs-toggle="collapse" href="#moduloCatequesis" role="button" aria-expanded="false"
                        aria-controls="moduloCatequesis">
                        <span><i class="bi bi-book me-2"></i> Gestión de Catequesis</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="collapse ps-3 mt-2" id="moduloCatequesis">
                        <a href="{{ url_for('gestionar_actos') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Actos Litúrgicos
                        </a>
                        <a href="{{ url_for('gestionar_requisitosactos') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Requisitos de Actos Litúrgicos
                        </a>
                        <a href="{{ url_for('gestionar_intenciones') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Registrar Intenciones
                        </a>
                        <a href="{{ url_for('requisitosXactoliturgico') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Reporte de Requisitos
                        </a>
                        <a href="{{ url_for('gestionar_tema') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Temas
                        </a>
                        <a href="{{ url_for('gestionar_programacionActo') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Programación de Charlas
                        </a>
                        <a href="{{ url_for('gestionar_asistencia') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Asistencia
                        </a>
                    </div>
                </div>
                <div class="accordion-item">
                    <a class="d-flex align-items-center justify-content-between text-primary text-decoration-none py-2 border-bottom"
                        data-bs-toggle="collapse" href="#moduloParroquial" role="button" aria-expanded="false"
                        aria-controls="moduloParroquial">
                        <span><i class="bi bi-people-fill me-2"></i> Gestión Parroquial</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="collapse ps-3 mt-2" id="moduloParroquial">
                        <a href="{{ url_for('gestionar_congregacion') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Congregación
                        </a>
                        <a href="{{ url_for('gestionar_diocesis') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Diócesis
                        </a>
                        <a href="{{ url_for('gestionar_sede') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Sede
                        </a>
                    </div>
                </div>
                <div class="accordion-item">
                    <a class="d-flex align-items-center justify-content-between text-primary text-decoration-none py-2 border-bottom"
                        data-bs-toggle="collapse" href="#moduloFinanzas" role="button" aria-expanded="false"
                        aria-controls="moduloFinanzas">
                        <span><i class="bi bi-cash me-2"></i> Gestión Financiera</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="collapse ps-3 mt-2" id="moduloFinanzas">
                        <a href="{{ url_for('gestionar_recaudaciones') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Recaudaciones
                        </a>
                        <a href="{{ url_for('gestionar_tipo_recaudacion') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Tipo de Recaudaciones
                        </a>
                        <a href="{{ url_for('gestionar_egresos') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Egresos
                        </a>
                    </div>
                </div>

                <div class="accordion-item">
                    <a class="d-flex align-items-center justify-content-between text-primary text-decoration-none py-2 border-bottom"
                        data-bs-toggle="collapse" href="#moduloReportes" role="button" aria-expanded="false"
                        aria-controls="moduloReportes">
                        <span><i class="bi bi-bar-chart-line me-2"></i> Reportes</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="collapse ps-3 mt-2" id="moduloReportes">
                        <a href="{{ url_for('cronograma_actividades') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Cronograma de Actividades
                        </a>
                        <a href="{{ url_for('numero_actos_liturgicos') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Celebraciones por Actos Litúrgicos
                        </a>
                        <a href="{{ url_for('reporte_egresos') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Reporte de Egresos
                        </a>
                        <a href="{{ url_for('reporte_recaudaciones') }}"
                            class="d-flex align-items-center text-muted py-2 sub-menu-item">
                            <i class="bi bi-arrow-return-right me-2"></i> Reporte de Recaudaciones
                        </a>
                    </div>
                </div>
            </nav>
        </aside>


        <!-- Cuerpo Principal -->
        <main class="content flex-grow-1 p-4">

            {% block cuerpo %}
            <style>
                /* Ajustar el tamaño del carrusel */
                .custom-carousel {
                    max-height: 490px; /* Altura fija del carrusel */
                    overflow: hidden;
                    display: flex;
                    justify-content: center; /* Centra horizontalmente */
                }
            
                /* Establecer tamaño fijo para las imágenes dentro del carrusel */
                .custom-carousel img {
                    height: 490px; /* Altura fija */
                    width: 1000px; /* Ancho fijo */
                    object-fit: cover; /* Recorta proporcionalmente si es necesario */
                    display: block;
                    margin: auto; /* Centra la imagen */
                }
            </style>
            
            <div class="container mt-4">
                <!-- Carrusel -->
                <div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/img/img_iglesia1.jpg" class="d-block" alt="Imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/img_iglesia2.jpg" class="d-block" alt="Imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/img_iglesia3.jpg" class="d-block" alt="Imagen 3">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/img_iglesia4.jpg" class="d-block" alt="Imagen 4">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/img_iglesia5.jpg" class="d-block" alt="Imagen 5">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            
                <!-- Imágenes en dos columnas -->
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <img src="/static/img/img_iglesia_cuerpo1.jpg" class="img-fluid rounded shadow" alt="Imagen cuerpo 1">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="/static/img/img_iglesia_cuerpo2.jpg" class="img-fluid rounded shadow" alt="Imagen cuerpo 2">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="/static/img/img_iglesia_cuerpo3.jpg" class="img-fluid rounded shadow" alt="Imagen cuerpo 3">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="/static/img/img_iglesia_cuerpo4.jpg" class="img-fluid rounded shadow" alt="Imagen cuerpo 4">
                    </div>
                </div>
            </div>
            

            {% endblock %}
        </main>
    </div>


</body>
<script src="{{ url_for('static', filename='/js/defecto.js') }}"></script>

<script>
    $.extend(true, $.fn.dataTable.defaults, {
        language: {
            search: "Buscar:",
            lengthMenu: "Mostrar _MENU_ registros por página",
            info: "Mostrando página _PAGE_ de _PAGES_",
            infoEmpty: "No hay registros disponibles",
            infoFiltered: "(filtrado de _MAX_ registros)",
            paginate: {
                first: "Primera",
                previous: "Anterior",
                next: "Siguiente",
                last: "Última"
            }
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const collapseElements = document.querySelectorAll(".collapse");

        collapseElements.forEach((collapse) => {
            collapse.addEventListener("show.bs.collapse", function () {
                // Cerrar otros colapsos
                const openItems = document.querySelectorAll(".collapse.show");
                openItems.forEach((item) => {
                    if (item !== collapse) {
                        const bsCollapse = new bootstrap.Collapse(item, {
                            toggle: false,
                        });
                        bsCollapse.hide();
                    }
                });
            });
        });
    });
</script>

</html>