{% extends "index.html" %}

{% block title %}Gestión de Asistencias{% endblock %}

{% block cuerpo %}
<div class="container mt-4">
    <h1 class="titulo-gestion">Marcar Asistencia por Acto Litúrgico</h1>

    <!-- Contenedor de botones -->
    <div class="d-flex justify-content-between mb-3">
        <!-- Botón para seleccionar/deseleccionar todas las asistencias -->
        <button class="btn btn-primary" onclick="toggleAllCheckboxes()">Seleccionar/Deseleccionar Todos</button>

        <!-- Botón para guardar las asistencias -->
        <button id="guardarAsistenciasButton" class="btn btn-success" onclick="guardarAsistencias()" title="Guardar">
            <i class="fas fa-save"></i> <!-- Ícono de guardar -->
        </button>
    </div>

    <!-- Tabla de asistencias -->
    <table id="asistenciasTable" class="table table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th style="vertical-align: middle; text-align: center;width: 130px">Celebracion</th>
                <th style="vertical-align: middle; text-align: center;width: 130px">ID Solicitud</th>
                <th style="vertical-align: middle; text-align: center">Acto liturgico</th>
                <th style="vertical-align: middle; text-align: center">Feligres</th>
                <th style="vertical-align: middle; text-align: center">Asistencia</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}


            <tr>
                <td style="vertical-align: middle; text-align: center">{{ solicitud.id_celebracion}}</td>
                <td style="vertical-align: middle; text-align: center">{{ solicitud.id_solicitud }}</td>
                <td >{{ solicitud.acto_liturgico }}</td>
                <td >{{ solicitud.feligres }}</td>
                <td style="vertical-align: middle; text-align: center">
                    <input 
                        type="checkbox" 
                        class="asistencia-checkbox" 
                        data-id="{{ solicitud.id_solicitud }}" 
                        {% if solicitud.asistencia == 1 %}checked{% endif %}>
                </td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>

<script src="/static/js/gestionar_asistencias_celebracion.js"></script>
{% endblock %}
