{% extends "index.html" %}
{% block title %}Gestión de Sede{% endblock %}
{% block cuerpo %}


<div class="container mt-4">
    <h1 class="titulo-gestion">Gestión de Sede</h1>

    <table id="sedeTable" class="table table-hover table-striped">
        <thead class="table-light">
            <tr class="text-center">
                <th style="vertical-align: middle; text-align: center;">ID</th>
                <th style="vertical-align: middle; text-align: center;">Sede</th>
                <th style="vertical-align: middle; text-align: center;">Dirección</th>
                <th style="vertical-align: middle; text-align: center;">Telefono</th>
                <th style="vertical-align: middle; text-align: center;">Correo</th>
                <!-- <th style="vertical-align: middle; text-align: center;">Monto</th> -->
                <th style="vertical-align: middle; text-align: center;">Estado</th>
                <!-- <th style="vertical-align: middle; text-align: center;">Congregacion</th>
                <th style="vertical-align: middle; text-align: center;">Diócesis</th> -->
                <!-- <th style="vertical-align: middle; text-align: center;">Monto traslado</th> -->

                <th style="vertical-align: middle; text-align: center; width: 200px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sed in sede %}
            <tr>
                <td class="text-center border">{{ sed[0] }}</td> <!-- ID del sede -->
                <td>{{ sed[1] }}</td> <!-- Nombre de la sede -->
                <td>{{ sed[2] }}</td> <!-- dirección -->
                <!-- <td>{{ sed[3] }}</td> creación -->
                <td>{{ sed[4] }}</td> <!-- telefono -->
                <td>{{ sed[5] }}</td> <!-- correo -->
                <!-- <td>{{ sed[6] }}</td>  monto -->
                <!-- <td>{{ sed[7] }}</td>  Estado -->
                <td>{{ 'Activo' if sed[7] == 1 else 'Inactivo' }}</td>
                <!-- <td>{{ sed[8] }}</td>  id congregación -->
                <!-- <td>{{ sed[9] }}</td> id diosesis-->
                <!-- <td>{{ sed[10] }}</td> monto_traslado -->

                <td class="text-center border">
                    <button class="btn btn-primary btn-sm" title="Ver"
                        onclick="abrirModalVer('{{ sed[0] }}', '{{ sed[1] }}', '{{ sed[2] }}', '{{ sed[3] }}', '{{ sed[4] }}', '{{ sed[5] }}', '{{ sed[6] }}', '{{ sed[7] }}', '{{ sed[8] }}','{{ sed[9] }}','{{ sed[10] }}')">
                        <i class="fas fa-eye"></i>
                    </button>

                    <button class="btn btn-warning btn-sm" title="Editar"
                        onclick="abrirModalEditar('{{ sed[0] }}', '{{ sed[1] }}', '{{ sed[2] }}', '{{ sed[3] }}', '{{ sed[4] }}', '{{ sed[5] }}', '{{ sed[6] }}', '{{ sed[7] }}', '{{ sed[8] }}', '{{ sed[9] }}','{{ sed[10] }}')">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button type="button" class="btn btn-secondary btn-sm" title="Dar de baja"
                        onclick="darBajaSede('{{ sed[0] }}','{{ sed[7] }}')"
                        {% if sed[7] == 0 %} disabled {% endif %}>
                        <i class="fas fa-ban"></i>
                    </button>

                    <form action="{{ url_for('procesar_eliminar_sede') }}" method="POST" style="display:inline-block;"
                        title="Eliminar">
                        <input type="hidden" name="id" value="{{ sed[0] }}">
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta sede?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para Agregar o Editar -->
<div class="modal fade" id="modalSede" tabindex="-1" aria-labelledby="modalSedeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formSede" action="{{ url_for('procesar_insertar_sede') }}" method="POST">
                <input type="hidden" id="sedeId" name="id">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSedeLabel">Agregar Sede</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre_sede" class="form-label">Nombre de la Sede</label>
                        <input type="text" class="form-control" id="nombre_sede" name="nombre_sede" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="creacion" class="form-label">Creación</label>
                        <input type="date" class="form-control" id="creacion" name="creacion" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" maxlength="9"
                            pattern="[0-9]{9}" inputmode="numeric" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="form-label">Monto</label>
                        <input type="number" class="form-control" id="monto" name="monto" required>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input type="checkbox" class="form-check-input" id="estado" name="estado">
                        <label class="form-check-label" for="estado">Activo</label>
                    </div>
                    <div class="mb-3">
                        <label for="id_congregacion">Congregación</label>
                        <select class="form-select" id="id_congregacion" name="id_congregacion" required>
                            {% for congre in congregacion %}
                            {% if congre[2] == 1 %}
                            <option value="{{ congre[0] }}">{{ congre[1] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_diosesis">Diocesis</label>
                        <select class="form-select" id="id_diosesis" name="id_diosesis" required>
                            {% for dioss in diosesis %}
                            <option value="{{ dioss[0] }}">{{ dioss[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="monto_traslado" class="form-label">Monto traslado</label>
                        <input type="number" class="form-control" id="monto_traslado" name="monto_traslado" required>
                    </div>
                    <div>
                        <h6>Actos litúrgicos</h6>
                        {% for acto in actoliturgico %}
                        <div class="mb-3">
                            <input type="checkbox" class="form-check-input" id="estado-{{ acto[0] }}"
                                name="estado-{{ acto[0] }}">
                            <label class="form-check-label" for="estado-{{ acto[0] }}">{{ acto[1] }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="submitBtn"></button>
                </div>
        </div>
        </form>
    </div>
</div>


<script src="/static/js/sede.js"></script>

<script>
    // Definir las URLs de acción generadas por Flask
    const insertarSedeURL = "{{ url_for('procesar_insertar_sede') }}";
    const actualizarSedeURL = "{{ url_for('procesar_actualizar_sede') }}";
    const darBajaSedeURL = "{{ url_for('procesar_darBaja_sede') }}";
</script>


{% endblock %}